


    <div class="container">
        <div class="row grid">
            <div class="column logo">
                <img src="../assets/amazon-logo.webp" alt="">
            </div>
            <div class="column location">
                <div class="d-flex align-center">
                    <i class="fa-solid fa-location-dot"></i>
                    <div>
                        <p> Deliver to Shekhar <br> 
                        
                        <p><b> New Delhi 110002 </b></p>
                    </div>
                </div>
            </div>
            <div class="column search">
                <form action="">
                    <input type="search" placeholder="Search Amazon.in">
                    <i class="fa-solid fa-magnifying-glass"></i>
                </form>
            </div>
            <div class="column cart">
                <i class="fa-solid fa-cart-shopping"></i>
            </div>
        </div>
    </div>
    <a href=""></a>
