


    <div class="container">
        <div class="row grid"> 
            <div class="column d-flex align-center navigation">
                <ul class="d-flex justify-between align-center">
                    <a href="../index.html"> <li> BUY T-SHIRT </li></a>
                    <a href="../index.html"> <li> WOMEN </li></a>
                    <a href="../index.html"> <li> MEN </li></a>
                    <a href="../index.html"> <li> ABOUT </li></a>
                    <a href="../index.html"> <li> CONTACT </li></a>
                    <li></li>
                </ul>
            </div>

            <div class="column logo d-flex justify-center">
                <a href="../index.html">

                    <img src="../assets/logo-regular.png" alt="">
                </a>
            </div>
            <div class="column search d-flex justify-center align-center">
                <form action="">
                    <input type="search" placeholder="Search Amazon.in">
                    <i class="fa-solid fa-magnifying-glass"></i>
                
                </form>
            </div>
            <div class="column cart d-flex justify-center align-center">
                <i class="fa-solid fa-cart-shopping"></i>
            </div>
            <div class="column user d-flex justify-center align-center">
                <a href="#">
                    <button>LOG IN</button>
                </a>
            </div>
        </div>
    </div>

